.subscription{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    padding: 50px;
    background-image: url("../../assets/subscribe_bg.png");
    background-size: contain;
}

.subscription h2{
    font-family: var(--playfair-display);
    font-size: 50px;
    text-align: center;
}

.subscription p{
    text-align: center;
}

.subscription-form{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.subscription-form button{
    position: absolute;
    top: 50%;
    transform: translate(-5%, -50%);
    right: 0;
    width: 20px;
    background-color: var( --black-400);
    color: white;
    padding: 10px 60px;
}

.subscription-form input{
    width: 350px;
    border: white 1px solid;
    padding: 15px;
    border-radius: 20px;
    background-color: transparent;
    outline: none;
    color: white;
}

.subscription-form input::placeholder{
    color: white;
}



button{
    border: none;
}